[ req ]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[ req_distinguished_name ]
C = IN
ST = Maharashtra
L = Mumbai
O = HDFC Bank
OU = IT
CN = myapp.com

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = myapp.com